.hamberg-icon{
    display: none;
}

/* .nav-bar{
    display: none;
} */
/* .hero-section{
    display: none;
} */

.about-section{
    display: none;
}
.chose-section{
    display: none;
}

.featured-section{
    display: none;
}

.footer-section{
    display: none;
}

@media screen and (max-width: 576px) {
    .nav-item, .nav-button{
        display: none;
    }
    .hamberg-icon{
        display: flex;
    }
    .nav-bar{
        box-sizing: border-box;
        padding: 16px 20px;
        display: flex;
        gap: 250px;
        align-items: center;
        justify-content: space-between;
        max-width: 576px;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #412567;
    }


    /* Responsive  Hero section */

    .hero-section{
        display: flex;
        flex-direction: column;
        height: 470px;
        max-width: 576px;
        width: 100%;
    }

  .hero-section {
    height: auto;
    padding: 30px 0;
  }

  .hero-content {
    width: 550px;
    height: 560px;
    margin: 0 auto;
    transform: scale(0.75);       
    transform-origin: top center;
  }


 .hero-section{
    height: auto;
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-content{
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: scale(0.85);
    transform-origin: top center;
  }

  .circle-img{
    width: 320px;
    height: 320px;
    background-size: contain;
    background-position: center;
  }

  .new-icon{
    top: 25px;
    right: 30px;
    height: 35px;
    width: 70px;
    font-size: 14px;
  }

  .microphone-img img{
    width: 80px;
    height: 140px;
    object-fit: contain;
  }

  .hero-section-text h1{
    font-size: 45px;
  }

  .hero-section-text p{
    font-size: 16px;
    padding-bottom: 18px;
  }

  .hero-section-btn{
    width: 70%;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
  }

  .hero-btn-1{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 160px;
  }

  .hero-btn-2{
    text-align: center;
    width: 150px;
  }

}


  
    
