*{
            padding: 0;
            margin: 0;
        }
        .nav-bar{
            height: 92px;
            max-width: 1600px;
            background-color: #1A0B2E;

            display: flex;
            align-items: center;
            padding-left: 200px;
            padding-right: 200px;
            justify-content: space-between;

            border-bottom: 1px solid #412567;
        }


         /* fit the logo with fradient  */
        .nav-logo{
            display: flex;
            align-items: center;
            height: 32px;
            width: 220px;
            font-size: 26px;
            color: white;
            
        }
        .nav-logo span{
            color: transparent;
            background:linear-gradient(to top, rgba(255, 255, 0, 0.826),rgb(227, 13, 177),rgb(117, 2, 138));
            -webkit-background-clip: text;
        }

        .nav-item{
            display: flex;
            align-items: center;
            width: 300px;
            height: 40px;

        }

        .nav-item ul{
            display: flex;
            align-items: center;
            width: 400px;
            height: 40px;
            
            text-decoration: none;
            list-style: none;
            justify-content: space-between;
            font-size: 24px;
            color: white;

        }

        .nav-item li{
            padding: 0px 10px 0px 10px;
        }
        
         .nav-item ul  li:hover{
            display: flex;
            align-items: center;
            height: 44px;
            width: auto;
            border-radius: 30px;
            background-image: linear-gradient(to right, hwb(56 15% 6%),rgba(223, 17, 178, 0.797),rgb(157, 3, 247));

        }
       

        .nav-button{
            display: flex;
            justify-content: center;
            
            align-items: center;
            height: 44px;
            width: 135px;
            border-radius: 30px;
            background-image: linear-gradient(to right, hwb(56 15% 6%),rgba(223, 17, 178, 0.797),rgb(157, 3, 247));
        }
        .nav-button button{
            color: white;
            font-size: 18px;
            font-weight: bold;
            height: 44px;
            width: 135px;
            border-radius: 30px;
            border: none;
            background: transparent;
            
        }

        .nav-button button:hover{
            color: rgb(83, 241, 30);
            box-shadow: 0px 0px 30px rgb(237, 178, 18);
        }
        


        /* hero section  */
        .hero-section{

            height: 760px;
            width: 100%;
            background-image: url("./assets/hero-bg.png");
        }


        /* about section css */

        .about-section{
            width: 100%;
            height: 646px;
            background-color: #1A0B2E;
        }

        /* chose section css */

        .chose-section{

            width: 100%;
            height: 1121PX;
            background-color: #230E3D;
        }

        /* Featured section css */

        .featured-section{
            width: 100%;
            height: 1276PX;
            background-color: #1A0B2E;
        }

        /* footer section  */

        .footer-section{
            height: 412px;
            width: 100%;
            background-image: url("./assets/footer-bg.png");

        }

        